*{
    margin: 0px;
    padding: 0px;
    color: white;
}
@media only screen and (max-width: 1400px) {
    #form_Post {
        margin-left: 4px !important;
    }
    #post_Create  {
        margin-left: -0.5vw !important;
        width: 560px !important;
        
    }
    #s_cont {
        margin-left: 240px !important;
    }
    .t_Head {
        width: 1020px !important;
    }
    #f_ld img {
        margin-left:12rem !important;
    }
    #f_ld h1 {
        margin-left:3rem !important;
    }
    #f_dn {
        margin-left:5.5rem !important;
    }
}
@media only screen and (max-width: 1200px) {
    #form_Post {
        margin-left: 5vw !important;
    }
    body {
        margin-left: 0px !important;
    }
    .t_Head {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        width: 100% !important;
        margin: 0px !important;
    }
    #post_Create  {
        width: 530px !important;
        margin-left: 5vw !important;
    }
    #s_cont {
        margin-left: 66vw !important;
    }
    #f_ld img {
        margin-left:18rem !important;
    }
    #f_ld h1 {
        margin-left:9rem !important;
    }
    #f_dn {
        margin-left:11.5rem !important;
    }
}
[contenteditable]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    font-family: Arial;
    color: rgb(180, 180, 180);
}
a[id]{
    cursor: pointer;
}
img[onclick]{
    cursor:pointer;
    transition: all 0.5s;
}
img[onclick]:hover{
    opacity: 0.6;
}
/* img[onclick]:hover{
    opacity: 0.8;
} */
input[type="file"] {
    display: none;
}
.s_mr{
    text-align:center;
}
#f_ld img {
    position:relative;
    margin-left:22rem;
}
#f_ld h1 {
    position:relative;
    margin-left:13rem;
    white-space: nowrap;
}
#f_dn {
    position:relative;
    margin-left:15.5rem;
    white-space: nowrap;
    display: none;
}
.d_ht {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body{
    /* overflow-x: hidden; */
    background: rgb(26, 26, 42);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin-left: 15%;
}
#p_Bar_b {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}
#p_Bar_w {
    background:rgb(109, 184, 202);
    height:5px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    transition: width 0.2s;
}
#s_cont {
    position: relative;
    margin-left: 370px;
    display: none;
    background: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
}
#s_cont:active {
    background: gray;
}
#sidebar_btn{
    position:relative;
    margin-left:123%;
    top:10px;
    cursor:pointer;
    border:none;
    outline:none;
    background: none;
}
#sidebar_btn:hover{
    color: rgba(73, 73, 73, 0.267);
}
#fr-ct{ /*friend list number*/
    background-color: red;
    padding: 1px;
    border-radius: 5px;
    margin-left: 37px;
    display: none;
}
.l-F {
    white-space: nowrap;
    font-family: Tahoma;
    font-size: 13px;
    overflow: hidden;
    margin-top: 17rem;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    padding-left: 70px; 
    width: 250px;
    position: fixed;
    background-color: rgba(73, 73, 73, 0.267);
    border-radius: 10px;
}
.l-F form p {
    padding-top: 20px;
    padding-left: 20px;
}
.l-F form input,#subm  {
    color:black;
    margin-left: 20px;
    outline: none;
    transition: border-color 0.2s;
}
.l-F form input:focus,#subm:focus {
    border-color: rgb(0, 4, 255);
}
#subm {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.t_Head {
    position: fixed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#474568;
    width: 1220px;
    margin-left: -55px;
    height: 100px;
    padding-top: 30px;
    z-index: 2;
}

.page_BG {
    position: relative;
    top: -130px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile_div {
    white-space: nowrap;
    font-family: Tahoma;
    font-size: 9px;
    overflow: hidden;
    margin-top: 17rem;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    padding-right: 70px; 
    width: 130px;
    position: fixed;
    background-color: rgba(73, 73, 73, 0.267);
    border-radius: 10px;
}
.profile_div_semi_footer{
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    margin-top: 31.55rem;
    margin-left: 20px;
    padding: 30px;
    padding-right: 70px;
    width: 130px;
    position: fixed;
    background-color: rgba(73, 73, 73, 0.267);
    border-radius: 10px;
    display: inline-block;
    transition: margin-top 0.5s;
}
.profile_div_semi_footer a {
    text-decoration: none;
    color: rgba(207, 207, 207, 0.513);
}
.profile_div_semi_footer a:hover {
    text-decoration: underline;
    color: rgba(20, 20, 20, 0.513);
}
#profile_btn_nav {
    visibility: hidden;
    opacity: 0;
    margin-bottom: -80px;
    transition: all 0.5s;
}
#profile_btn_nav ul {
    list-style-type: none;
    font-size: 13px;
}
#profile_btn_nav a {
    display: block;
    width: 130px;
    padding: 2px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}
#profile_btn_nav a:hover {
    background-color: rgba(255, 255, 255, 0.171);
}
#profile_name {
    margin-top:2px;
}
#profile_friends {
    font-weight: normal;
}
.profile_pic {
    cursor: pointer;
    height: 85px;
    width: 85px;
}

#page_Feed {
    font-family: tahoma;
    position: absolute;
    top: 250px;
    width: 77.5%;
    margin: 30px;
    margin-left: 263px;
    display: inline-block;
    border-radius: 5px;
}

/* Create Post */
#post_Create {
    position: relative;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 650px;
    margin:20px;
    margin-left: 90px;
}
#post_Create_Picture {
    position: absolute;
    height: 40px;
    border-radius: 2rem;
    display: inline-block;
}
.post_Create_Input {
    position: relative;
    bottom: 15px;
    margin-top: 20px;
    margin-left: 60px;
    font-family: Arial;
    font-size: 20px;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    background-color: transparent;
    outline: none;
    display: inline-block;
}
.form_Time {
    position: relative;
    bottom: 18px;
    left: 47px;
    font-size: 8px;
    opacity: 0.2;
}
#form_Buttons,.form_Buttons {
    position: relative;
    text-decoration: none;
    font-weight: 700px;
    font-family: tahoma;
    color: rgb(87, 86, 86);
    border: none;
    width: 150px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}
.form_Upload_Style {
    font-size: 13px;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 30px;
}
#form_Buttons[value]{
    padding-left: 30px;
    width: 120px;
}
#form_Buttons:hover, .form_Buttons:hover {
    background-color: rgba(161, 161, 161, 0.3);
}
#form_Buttons:active, .form_Buttons:hover {
    background-color:gray;
}


/* Posts */
#form_Post {
    position: relative;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 530px;
    margin:20px;
    margin-left: 150px;
}
#form_Limit_length {
    overflow-y: hidden;
    height: 100%;
    max-height: 1050px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.form_Status {
    margin: 10px;
    width:500px;
    overflow-wrap: break-word;
}
.form_Status img {
    border-radius: 20px;
}
#form_Picutre {
    max-height: 40px;
    border-radius: 2rem;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
}
#form_Name {
    position: relative;
    bottom: 15px;
    margin-left: 2px;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}
#form_Buttons {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-family: tahoma;
    color: rgb(146, 146, 146);
    border: none;
    width: 150px;
    height: 30px;
    background-color: transparent;
}
#form_Status {
    margin: 10px;
}
#form_Buttons:hover {
    background-color: rgba(129, 129, 129, 0.301);
}
#form_Buttons:active {
    background-color:gray;
}
/* message_popup */
#message_popup {
    display: none;
    position:fixed;
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background:rgba(36, 36, 36, 0.5);
    z-index: 2;
}
#message_popup_Box {
    position: relative;
    font-family: tahoma;
    text-align: left;
    top: 40%;
    left: 35.5%;
    width: 27.5%;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: #474568;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.message_popup_Confirm {
    position: relative;
    font-family: tahoma;
    text-align: left;
    top: 40%;
    left: 35.5%;
    width: 27.5%;
    padding: 10px;
    color: black;
    background-color: rgb(26, 26, 42);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.message_popup_Confirm button {
    position: inherit;
    font-family: tahoma;
    top: 40%;
    width: 27.5%;
    padding: 5px;
    font-weight: 600;
    margin: 2px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #474568;
}
.message_popup_Confirm button:hover {
    background-color: #ad436c5d;
}

/* remove Photo Button */
.removeBtnP{
    text-decoration: none;
    color: black;
    align-content: center;
}

/* img popup */
#img_popup {
    display: none;
    position:fixed;
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background:rgba(36, 36, 36, 0.5);
    z-index: 3;
}
#img_popup_Box {
    position: relative;
    font-family: tahoma;
    text-align: left;
    top: 13%;
    left: 30%;
    width: 38.65%;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: #474568;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img_popup_Confirm {
    overflow: auto;
    position: relative;
    font-family: tahoma;
    text-align: center;
    top: 13%;
    left: 30%;
    max-height: 70vh;
    max-width: 700vh;
    width: 38.65%;
    padding: 10px;
    background-color: rgb(26, 26, 42);

}
#img_popup_Box button {
    position: static;
    font-family: tahoma;
    width: 3vh;
    padding: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: transparent;
}
#img_popup_Box div{
    text-align: right;
    margin-top:-3vh;
}
#img_popup_Box button:hover {
    color: gray;
}
#img_popup_show {
    max-width: 999px;
    width: 100%;
}